footer a {
  text-decoration: none;
}

header img {
  width: 40px;
  height: 40px;
  filter: invert(1);
  cursor: pointer;
}

.custom-link {
  color: #fff;
  font-weight: bold;
  text-decoration: none !important;
}
