<header class="p-3 text-bg-dark">

  <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
    <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
      <li><a routerLink="" class="navbar-brand px-2 ">Music service</a></li>
    </ul>

    <!--<form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
      <input type="search" class="form-control form-control-dark text-bg-dark" placeholder="Search..." aria-label="Search">
    </form>-->

    <div class="text-end">
      <a *ngIf="authService.getToken()" routerLink="myuploads" class="custom-link me-2">{{ username }}</a>
      <a *ngIf="authService.getToken()" routerLink="upload"><img src="../assets/images/upload.png" class="me-2"></a>


      <button *ngIf="authService.getToken()" (click)="logout()" type="button" class="btn btn-outline-light me-2">Logout</button>
    </div>
  </div>

</header>

<router-outlet></router-outlet>
