<div class="container p-3">
  <div *ngIf="musics.length>0; else elseBlock" class="p-3">
    <table class="table">
      <thead>
        <tr class="table-success">
          <th class="md-10">Name</th>
          <th class="md-2"></th>
        </tr>
      </thead>
      <tbody *ngFor="let music of musics; let i = index">
        <tr class="table-primary">
          <td class="md-10"> {{music.name}} </td>
          <td class="md-2">
            <a (click)="playMusic(music.id)">
              <img src="../assets/images/play.png" />
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <ng-template #elseBlock>You haven't uploaded any music!</ng-template>
</div>

<footer class="footer text-muted fixed-bottom bg-dark p-1">
  <div class="container">
    <audio [src]="audioSource" controls autoplay id="musicPlayer" preload="metadata" class="col-sm-12 col-sm-offset-4">
    </audio>
  </div>
</footer>
