<div class="center">
  <div class="grid-container">
    <div *ngFor="let music of musicList" class="grid-item">
      <a (click)="playMusic(music.id)">
        <img [src]="getMusicImageSrc(music.id)" alt="Music Image" />
      </a>

      <div class="music-details">
        <p>{{ music.name }}</p>
        <p>{{ music.uploaderName }}</p>
      </div>
    </div>
  </div>
</div>

<footer class="footer text-muted fixed-bottom bg-dark p-1">
  <div class="container">
    <audio [src]="audioSource" controls autoplay id="musicPlayer" preload="metadata" class="col-sm-12 col-sm-offset-4">
    </audio>
  </div>
</footer>
